<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{ Reverse }</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>{ Reverse }</h1>

  <label for="sport-select">Pick your book:</label>
  <select id="sport-select">
    <option value="mma_mixed_martial_arts">MMA</option>
    <option value="baseball_mlb">MLB</option>
    <option value="basketball_wnba">WNBA</option>
    <option value="americanfootball_nfl">NFL</option>
    <option value="americanfootball_ncaaf">NCAAF</option>
  </select>

  <div id="games-container"></div>

  <script src="static/app.js" defer></script>
</body>
</html>
